/* Navbar container */
.navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial;
  }
  
  /* Links inside the navbar */
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* The dropdown container */
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  
  /* Add a green background color to navbar links on hover */
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: green;
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  /* Page starts  here */
  .containerChessBoard {
    background-color: yellow;
    display: grid;
    grid-template-columns: repeat(8, .02fr);
    grid-template-rows: repeat(8, .02fr);
    width: 800px;
    height: 800px;
    gap: 1px;
  }
  .white {
    background-color: orange;
    height: 100px;
    width: 100px;
  }
  .black {
    background-color: black;
    height: 100px;
    width: 100px;
  }
      .parent {
      display: grid;
      grid-template-rows: 1fr 1fr 2fr;
      grid-template-columns: auto 400px minmax(200px, 500px);
      grid-auto-rows: 50px;
      width: 80%;
      background-color: #ddd;
      padding: 20px;
      margin: 2rem;
    }

    .parent>* {
      background-color: seagreen;
      color: white;
      font-size: 18px;
      padding: 20px;
      border: 2px solid white;
    }
  .grid-container {
      display: grid;
      grid-template-rows: 1fr 1fr 2fr;
      grid-template-columns: auto 400px minmax(200px, 500px);
      grid-auto-rows: 50px;
      width: 80%;
      margin: 2rem;
      padding: 20px;
    }
    
    .grid-item {
      background-color: orange;
      color: white;
      font-size: 18px;
      padding: 20px;
      border: 2px solid orangered;
    } 
    .containerIcons {
      display: grid;
      gap: 10px;
      grid-template-columns: 1fr 1fr 1fr ;
      grid-template-rows: 1fr 1fr 1fr;
      background-color: tan;
    }
.cowboy, .astronaut, .book{
      color: black;
      font-size: 50px;
      padding: 20px;
      border: 2px solid darkblue;
    }
    .item {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .cowboy {
      order: 1;
      background-color: brown;
      grid-area: 1 / 1 / 1 / 1;
    }
    .astronaut {
      background-color: black;
      order: 4;
      grid-area: 2 / 2 / 2 / 2;
    }
    .book {
      order: 2;
      background-color: lightblue;
      grid-column-start: 3;
      grid-column-end: -1; /* -1 is the same as the last row or column in this case it would be 3, but we are  using -1 for an example */
      grid-row-start: 1;
      grid-row-end: -1;
    }