.navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial;
  }
  
  /* Links inside the navbar */
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* The dropdown container */
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  
  /* Add a green background color to navbar links on hover */
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: green;
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }

/* Flexbox */

/* Uncomment along with HTML to show webpage first Div class=container */
/* p {
    padding: 0;
    margin: 0;
    font-weight: 700;
  }

  li {
    list-style: none;
  }

  .container {
    padding: 10px;
    background-color: gold;
    display: flex;
    gap: 10px;
  } */


  /* Flex Direction */
  /* Uncommment below CSS along with HTML to show webpage second Div class=container2 */
 /*  .container2 {
    color: white;
    background-color: lightgray;
    margin: 5px;
    padding: 5px;
    border: 5px solid gold; */
    /* display: flex; */ /* Spans the whole width of webpage 100% */
    /* flex-direction: row; */ /* Uncomment to see difference in row vs column */
  /*   flex-direction: column;
    display: inline-flex;  *//* inline-flex will not take full width of the parent, it will only take the width of the content */
/* } */
/* .container2 > * {
    flex-basis: 100px; */ /* Does not change container need to select child, if column it will show vertically, if row in is horizontal */
/* } */
  /*
Select all the elements that are the direct children of the .container class.
  */

/*   .red {background-color: #eb4d4b;}
  .orange {background-color: #f0932b;}
  .yellow {background-color: #f6e58d;}
  .green {background-color: #6ab04c;}
  .blue {background-color: #4834d4;}
  .indigo {background-color: #30336b;}
  .purple {background-color: #be2edd;} */

  /* Flexible Layout */
  .container3 {
    color: white;
    border: 5px solid gold;
    display: inline-flex;
  }

  /*
Select all the elements that are the direct
children of the .container class.
  */

  .red {background-color: #eb4d4b;}
  .orange {background-color: #f0932b;}
  .yellow {background-color: #f6e58d;}
  .green {background-color: #6ab04c;}
  .blue {background-color: #4834d4;}
  .indigo {background-color: #30336b;}
  .purple {background-color: #be2edd;}